.single-item {
    text-decoration: none;
    color: black;
    display: block;
    border-bottom: 1px solid #a1a1a1;
    margin-left: 55px;
    height: 55px;
}

.content{
  position: relative;
}

ul.collection{
  list-style: none;
}

span.small {
  font-size: 10px;
  display: block;
}

.action, #button-container{
  align: right;
  position: absolute;
  bottom: 10px;
  right: 15px;
}

.avatar{
  align: right;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  position: absolute;
  bottom: 10px;
  background-color: #398793;
  display: inline;
}

table{
  width: 100%;
}

tr{
  height: 55px;
  padding: 10px;
}

.section{
  height: 500px;
  width: 100%;
  padding-top: 100px;
  vertical-align: middle;
  background-image: url('http://icdn2.digitaltrends.com/image/iphone-7-plus-case-leak-ends-720x720.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  text-align: center;
}

a.home{
  margin: 20px;
}
